@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  min-height: 100vh;
  margin: 0;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  font-family: Roboto, sans-serif;
}

.header,
.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px;
}

a {
  color: black;
}

.left-links,
.right-links {
  display: flex;
  gap: 12px;
}

ul {
  padding: 0;
  margin: 10px;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
  padding: 8px 12px;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
  margin-bottom: 16px;
}

.footer {
  background-color: #eeeeee;
}

.content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  align-self: center;
  margin: auto;
}